.results {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
}

.buttons {
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
}

button {
    padding: 20px;
    font-size: 20px;
}

body {
    background-color: purple;
}
